/* All styles for your header Components live here */

.card__header {
    display: flex;
    margin-bottom: 15px;
}

.card__header__profile-image {
    width: 9%;
    margin-right: 1.5%;
}

.card__header__text {
    width: 90%;
    margin-top: 5px;
}

.card__header__text__heading * {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1.5% 7.5px 0;
}

.card__header__text__heading__profile-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.card__header__text__heading__date-and-handle {
    font-size: 1.2rem;
    color: #94A1AD;
}