.card__footer {
    align-self: flex-end;
    width: 89%;
    margin-top: 30px;
}

.card__footer__social-links__icon {
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-right: 12.5%;
}